<section>
  <section class="banner">
    <h2>FAKEEEEE Products</h2>
    <h3>
      Welcome to our products show... You can easly find your product here and
      buy it in a second
    </h3>
    <button class="tt-btn primary">Go to our gallary</button>
  </section>
  <section class="sec-with-padding">
    <h2 class="centered ">Exclusive Products</h2>
    <app-categories></app-categories>

    <div></div>
  </section>
  <section class="sec-with-padding">
    <h2 class="centered">Available Categories</h2>
    <app-categories></app-categories>
    <div></div>
  </section>
</section>
